<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<!--Navigation-->
<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/link" tab="list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>User List</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create" tab="create">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Create User</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
